
body {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.homeCard {
  background: rgba( 186, 205, 176, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  max-width: 50%;
  margin: 1em;
}

.homeWrapper {
 display: flex;
 justify-content: center;
 align-items: center;
}

header, footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  background: url('/images/windowView.png') center center no-repeat;
  background-size: cover;
  opacity: 1;
  transition: opacity 2s;
}

body, h1, h2, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #18272F;
	font-weight: 700;
	vertical-align: top;
}

a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

a::before,
a::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
a::before {
  background-color: #F3E8EE;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #F3E8EE;
}

a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
a:hover::after {
  transform: translate3d(0, 0, 0);
}

a span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a:hover span {
  transform: translate3d(-200%, 0, 0);
}

/* Styles for the header */
header {
  background-color: #729B79;
  /* padding: 10px; */
  color: #2E2C2F;
  z-index: 10;
  top: 0;
  font-size: larger;
  font-weight: bold;
  position: sticky;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav a {
  padding: 0 1em;
  margin: 0 .5em;
  color: #2E2C2F;
  display: flex;
  align-items: center;
}

nav a:hover {
  text-decoration: underline;
}

header img {
  width: 3rem;
  padding: 0 .5em;
}

.nav-links {
  list-style: none;
  gap: 2em;
  display: flex;
}
.close-nav {
  display: none;
}
body.nav-open::before {
  opacity: 1;
  visibility: visible;
  z-index: 9;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* ABout Us */
.about-section {
  background: rgba(255, 255, 255, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  padding: 20px;
}

.about-section h1 {
  font-size: 28px;
  color: #333;
}

.about-section .brand-name {
  color: #003cff;
  font-weight: bold;
}

.about-section .ourStory,
.about-section .ourMission,
.about-section .whyUs {
  margin-top: 20px;
}

.about-section .ourStory h2,
.about-section .ourMission h2,
.about-section .whyUs h2 {
  font-size: 24px;
  color: #333;
}

.about-section .ourStory p,
.about-section .ourMission p,
.about-section .whyUs p {
  font-size: 16px;
  color: #555;
}

.about-section .whyUs ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
}

.about-section .whyUs li {
  font-size: 18px;
  color: #555;
  padding: 1em;
}

.about-section h2,
.about-section p {
  margin-top: 20px;
  font-size: 24px;
  color: #333;
}

.about-section h2 + p {
  margin-top: 10px;
}

.about-section p:last-child {
  margin-bottom: 20px;
}

.about-section .whyUs ul {
  list-style-type: none;
  padding-left: 0;
}


/* Styles for the main content */
.booking {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin: 20px;
}

.booking input[type="text"], .booking input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.booking button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bookingList {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px;
  background: rgba( 186, 205, 176, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.bookingList button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles for the footer */
footer {
  background-color: #729B79;
  color: #2E2C2F;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: 0;
}

.right {
  margin-right: 50px;
}

.hide {
  display: none;
}


footer img:hover {
  transform: scale(1.4);
}

footer img {
  width: 3rem;
  transition: all .2s ease-in-out;
  padding: .5em;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  padding: 1em;
}
.hero img {
  min-width: 300px;
  max-width: 500px;
  align-items: center;
}

.airport-dropdown {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  width: max-content;
  z-index: 5;
}

.airportSearch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

.airport-dropdown div {
  padding: 8px 12px;
  cursor: pointer;
}

form .airportSearch {
  gap: 1em;
}

.airport-dropdown div:hover {
  background-color: #BACDB0;
}

.flightDates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 2em;
}

#currency {
  max-height: 4em;
  font-size: medium;
  overflow-y: scroll;
  padding: .5em;
  font-weight: 600;
}

.searchcol1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

#itenerary-type label {
  cursor: pointer;
}

.searchcol1 input {
  padding: .5em;
}

.booking-additional {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5em;
  padding-top: .5em;
  align-items: center;
}

.booking-additional div {
  padding-top: .5em;
}

.booking-additional select {
  padding: .5em;
  font-size: small;
}


/* Flight Card */
.flightsContainer {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
    gap: 20px;
  padding: 1em;
  gap: 1em;
}

.flight-card {
  padding: 1em;
  background: rgba(114, 155, 121, 0.57);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(114, 155, 121, 1);
}

.flightsContainer img{
  max-width: 10em;
  border-radius: 20px;
  padding: .5em;
}

/* By default, hide the flight details content */
.flight-details-content {
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.flight-details {
  display: flex;
  align-items: center;
  justify-content: center;
background: rgba(46, 44, 47, 0.31);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(13.9px);
-webkit-backdrop-filter: blur(13.9px);
color: #ccc;

}
.leg-details {
  display: flex;
  flex-direction: column;
  gap: .3em;

}

.flight-time {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.segment-details {
  display: flex;
  flex-direction: column;
  padding: .7em;
}
.segment-details h2:hover {
  cursor: pointer;
  text-decoration: underline;
  display: flex;
  color: yellow;

}

.segment-details h2 {
  /* font-size: 1em; */
  font-size: clamp(13px, 2vw, 20px);
  /* white-space: nowrap; */
}

.flightHeader {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.flightHeader h3 {
  font-size: clamp(12px, 2vw, 20px);
}

.airline-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-detail {
  display: flex;
  flex-direction: row;
  gap: .5em;
}

.logo-detail p {
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
}

.flight-info {
  padding: .5em;
}

.purchase-link {
  background-color: #007BFF;
  border-radius: 5px;
  padding: .5em;
  margin: .5em;
  color: white;
  font-weight: bold;
  width: -moz-fit-content ;
  width: fit-content;
}

.purchase-link:hover {
  color: yellow;
}

.flightFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.label {
  height: 40px;
  width: 45px;
  display: grid;
  place-items: center;
  border-radius: 12px;
  cursor: pointer;
}

.heart {
  display: grid;
  place-items: center;
  position: relative;
  /* background-color: #007BFF; */
}

svg {
  height: 30px;
  /* fill: rgb(168, 170, 181); */
  fill: #007BFF;
  /* border: #eee; */
  transition: all 500ms ease-in-out;
  /* background-color: #ccc; */
}

svg:nth-child(2) {
  position: absolute;
  z-index: 2;
}

.label input {
  display: none;
}

.label input[type="checkbox"]:checked ~ .heart svg {
  fill: red;
}

.label input[type="checkbox"]:checked + .heart svg:nth-child(2) {
  filter: opacity(1);
  animation: heart 0.3s linear forwards;
}

@keyframes heart {
  to {
    transform: scale(1.4);
    filter: opacity(0);
    fill: red;
  }
}

.pagination {
  padding: .5em;
  align-items: center;
  text-align: center;
}
.pagination a.current {
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.pagination a {
  color: black;
  text-decoration: none;
  margin: 0 7px;
}

.pagination a:hover {
  font-size: 1.5em;

}

#searchFlightsBtn {
  display: flex;
  justify-content: flex-start;
}

#searchFlightsBtn button {
  padding: 1em;
  margin: .5em;
}

button:hover {
  color: black;
  background-color: #0066ff97;
}






































 /* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .hide{
    display: block;
  }

  .homeCard {
    max-width: 100%;
  }

  .nav-links {
      display: none;
      flex-direction: column;
      gap: 10px;
      position: absolute;
      top: 60px;
      /* right: 20px; */
      background-color: #729B79;
      border-radius: 5px;
      gap: 20em;
      height: 100vh;
      transition: transform 0.3s;
      transform: translateX(100%);
  }

  .nav-links.active {
    transform: translateX(0);
    width: 10em;
    padding: 50px 10px 10px 10px;
    margin: 0;
    left: 0;
    top: 0;
    gap: 2em;
    align-items: center;
    display: flex;
    z-index: 10;
  }
  /* Close button styles */
  .close-nav {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    padding: 5px;
  }

  /* Overlay to dim the background */
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
  }

  .menu-icon {
      display: block;
  }

  footer .right, footer .center {
    display: none;
  }

  .searchcol1 label {
    display: none;
  }

  form .booking-additional {
    flex-direction: column;
    gap: .5em;
    align-items: end;
  }

  .flightsContainer {
    grid-template-columns: 1fr;
  }

  #searchFlightsBtn {
    justify-content: center;
  }


}
