<header>
  <nav>
      <div class="menu-icon">&#9776;</div> <!-- Hamburger menu icon -->
    <div class="header-logo">
      <a href="/index.html"><img src="/images/logo.svg" alt="Logo Image"/>TRAVEL ALMANAC</a>
    </div>
    <ul class="nav-links">
          <li class="close-nav">&#10005;</li>
          <li><a href="./page-list/flight-list.html">Search</a></li>
          <li><a href="#">Favorites</a></li>
          <li><a href="#">Cart</a></li>
          <li><a href="#">About Us</a></li>
      </ul>

  </nav>
</header>
