
  <nav>
      <div class="menu-icon">&#9776;</div> <!-- Hamburger menu icon -->
    <div class="header-logo">
      <a href="/index.html"><img src="/images/logo.svg" alt="Logo Image"/>TRAVEL ALMANAC</a>
    </div>
    <ul class="nav-links">
          <li class="close-nav">&#10005;</li>
          <li><p><a href="./pages-flight/flight-list.html" data-replace="Search"><span>Search</span></a></p></li>
          <li><a href="#" data-replace="Favorites"><span>Favorites</span></a></li>
          <li><a href="#" data-replace="About Us"><span>About Us</span></a></li>
          <li><a href="#" data-replace="Cart"><span>Cart</span></a></li>

      </ul>

  </nav>

